body {
  margin: 0;
  padding: 0;

  font-family: "PT Sans", sans-serif;
  font-size: 13px;
  line-height: 23px;
  font-weight: 400;
  color: #000000;
  text-transform: capitalize;

  background-color: #ffffff;
  background-position: top left;
}
a {
  font: "Cuprum", regular;
  font-size: 17px;
  line-height: 18px;
  color: #ffffff;

  text-decoration: none;
}
ul{
  list-style-type: none;
}

.button {
  font: regular 14px/18px cuprum;

  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;

  background-color: #ee3643;
  border: none;
}

.button:hover,
.button:focus {
  background-color: #ca2c37;
}
.button:active {
  background-color: #ba2732;
}

.header-navigation {
  font-size: 17px;
  line-height: 17px;
  color: #ffffff;
  background-color: #f3f7f9;
}
.site-navigation,
.user-navigation {
  list-style: none;
}

.site-navigation a,
.user-navigation a {
  color: #ffffff;
}

.site-navigation a:hover,
.site-navigation a:focus,
.user-navigation a:hover {
  color: #293449;
}
.user-navigation a:focus {
  color: #1d2739;
}

nav{
  font: "Cuprum", regular;
  font-size: 17px;
  line-height: 17px;
  color: #ffffff;
}

.part-1{
  background-color: #293449;
}

header{
  background-color: #f1f5f7;
}


.header-top {
  font: "Cuprum", regular;
  font-size: 17px;
  line-height: 18px;
  color: #ffffff;

  background-color: #293449;
}

.header-top:hover {
  background-color: #212a3a;
}
.header-top:focus {
  background-color: #ffffff;
}
.header-top:active {
  background-color: #161d29;
}

.main-footer {
  color: #f1f5f7;

  background-color: #212121;
}

.input:hover {
  background-color: #212a3a;
}
.input:focus {
  background-color: #212a3a;
}
.input:active {
  background-color: #ffffff;
}
.checkout {
  color: #ffffff;

  background-color: #63a63e;
}
.checkout:hover {
  background-color: #5fbb2d;
}
.checkout:focus,
.checkout:active {
  background-color: #518534;
}
h1 {
  font: "Cuprum", italic;
  font-size: 16px;
  line-height: 23px;
  color: #ee3643;
  text-transform: none;
}

.office {
  font-family: "Cuprum", regular;
  font-size: 21px;
  line-height: 21px;
  color: #000000;
  background-color: #ffffff;
}

.logo {
  background-color: #ee3643;
}

address {
  font-family: "Cuprum", regular;
  font-size: 14px;
  line-height: 24px;
  color: #32425c;
}
.top {
  font-family: "Cuprum";
  font-size: 21px;
  line-height: 21px;
  color: #e9292a;
}
.bottom {
  font-family: "Cuprum", regular;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  background-color: #293449;
}

footer {
  font-family: "Cuprum", regular;
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
  background-color: #32425c
}
.part-2 {
  font: "Cuprum", regular;
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
}
.materials {
  font: "Cuprum", regular;
  font-size: 18px;
  line-height: 24px;
  color: #ffd180;
}

.cabinet{
  font-family: "Cuprum", regular;
  font-size: 21px;
  line-height: 21px;
  color: #000000;

  background-color: #ffffff;
}

.breadcrumbs {
font-family: "PT Sans", regular;
font-size: 13px;
line-height: 18px;
font-weight: 400;
color: #000000;
}

.breadcrumbs {
  list-style: none;
}

.filters {
  list-style: none;
}

.filters {
font-family: "PT Sans", regular;
font-size: 15px;
line-height: 20px;
font-weight: 400;
color: #000000;
}

h2 {
font-family: "cuprum", regular;
font-size: 30px;
line-height: 30px;
font-weight: 400;
color: #32425c;
text-transform: uppercase;
}

.order{
  font-family: "Cuprum", regular;
  font-size: 16px;
  line-height: 18px;
  color: #32425c;
  text-decoration: underline;
}

fieldset {
  border: none;
}

legend {
  font-family: "pt sans", bold;
  font-size: 17px;
  line-height: 30px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.filters ul{
  list-style: none;
  font-family: "PT Sans", regular;
  font-size: 15px;
  line-height: 20px;
  color: #000000;
  line-height: 20px;
}

.filter-input:hover + label,
.filter-input:focus + label {
  color: #663d15;
}

.filter-input:disabled + label {
  color: #000000;

  opacity: 0.5;
}

.catalog-list {
  list-style: none;
}

.catalog-item {
  background-color: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.catalog-item:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}


.catalog-category  {
  font-family: "pt sans", bold;
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
  color: #000000;
  text-transform: none;
}

.price{
  font-family: "pt sans", bold;
  font-size: 17px;
  line-height: 18px;
  color: #ffffff;
  background-color: #ee3643;
}
